:root {
  --bg: #331116;
  --card: #111827;
  --text: hwb(240 96% 2%);
  --muted: #17612d;
  --accent: #60a5fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto,Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--text);
  background: radial-gradient(1200px 600px, #000000 0%, var(--bg) );
}

.container {
  max-width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 16px;
  backdrop-filter: blur(6px);
}

.container2 { 
  max-width: 100
}
.square-button {
  width: 100px;
  gap: 10px;
  height:150px;
  border: 1px solid rgba(255,255,255,0.08);
}

.movie-row {
  border: 1px solid black
}

.movie-row button {
  width: 225px;
  height: 300px;}

.movie-row img {
width: 100%;
height: 100%;
object-fit: cover;
}

.site-header,
.site-footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidePanel{
  position: fixed;
  z-index: 999;
  background: #0f172a;
  top: 0;
  right: -300px;
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  width: 300px;
  height: 100%;
}

#sidePanel.active{
  right:0;
}

h1, h2 {
  margin: 0 0 0.75rem;
}

nav a {
  color: var(--muted);
  text-decoration: none;
  margin-right: 1rem;
}

nav input[type="text"] {
  padding: 0.4rem 0.8rem;
  border: 1px solid #d30c0c;
  border-radius: 6px;
  margin: 0 1rem;
  font-size: 1rem;
}

nav input[type="text"]:focus {
  border-color: #8d0000;
  outline: none;
  box-shadow: 0 0 0 2px rgba(185, 107, 4, 0.3);
}


nav a:hover {
  color: var(--accent);
}

button {
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.63);
  background: #0b1220;
  color: var(--text);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 120ms ease, box-shadow 120ms ease, border-color 120ms ease;
}

button:hover {
  transform: translateY(-1px);
  border-color: rgba(255, 255, 255, 0.247);
  box-shadow: 0 8px 24px rgba(0,0,0,0.35);
}

.site-footer small {
  color: var(--muted);
}

.posterBox {
  text-align: center;
  background: radial-gradient(1200px 600px, #270125 0%, var(--bg) 50%);
  border-radius: 5%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, darkred, rgb(59, 1, 1)) 1;
}

.posterBox img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
